# NODE_ENV Selection: Production or Development
NODE_ENV=Development

# Database Selection: sqlite | mysql | postgres
DB_TYPE="mysql"

# MySQL Configuration - Development
MYSQL_HOST_DEV=127.0.0.1
MYSQL_PORT_DEV=3306
MYSQL_USER_DEV=root
MYSQL_PASSWORD_DEV=
MYSQL_DATABASE_DEV=messenger_db

# MySQL Configuration - Production
MYSQL_HOST_PROD=127.0.0.1
MYSQL_PORT_PROD=3306
MYSQL_USER_PROD=fida_test
MYSQL_PASSWORD_PROD=cetbWRHXI1uAHmXn
MYSQL_DATABASE_PROD=fida_test

# PostgreSQL Configuration
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=messenger_db

# SMS Provider
SMS_PROVIDER=smsir
SMS_API_KEY=gRpKugNF4Oqso8S7BCJR13GbDMiC98ZBBD6bEVhkvpQCHzWw1jIUK1xu78YVW4oV
SMS_TEMPLATE_ID=797820
SMS_SENDER_NUMBER=3000882868